<div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 my-8 mr-4">
    {% if post.thumbnail %}
        <a href="">
            <img src="{{ vich_uploader_asset(post.thumbnail, 'imageFile') }}"
                 alt="{{ post.thumbnail.imageName }}"
                 class="rounded-t-lg">
        </a>
    {% endif %}
    <div class="p-5">
        <a href="{{ path('post.show', {slug: post.slug}) }}">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                {{ post.title|capitalize }}
            </h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            {{ post.content|u.truncate(160, '...') }}
        </p>
        <a href="{{ path('post.show', {slug: post.slug}) }}"
           class="inline-block rounded-lg bg-red-700 px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-red-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-red-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-red-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]">
            Lire Plus
        </a>
    </div>
</div>